h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
}

h3 {
    text-decoration: underline;
}

.italy{
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.big {
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(84, 79, 79);
}
.Title {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: static;
}

body {
  background-color: lightblue;
}
.photo {
    size: 200px;
}
.large {
    font-size: larger;
}

